/* styling for nav bar */
.logout {
    font-family: 'Artifika', serif;

}

#name-app {
    font-family: 'Artifika', serif;
	font-size: 30px;
	font-weight: 900
}

#nav-image {
    width: 80px;
}

#nav-bar {
    /* background-color: #176d88; */
    background-image: linear-gradient(to left, #176e88, #4c95ac,  #346574 );

}

.nav {
    height: 5rem
}
