@media screen and (max-width: 992px) {
    .card-columns {
        column-count: 2;
    }  
}

@media screen and (max-width: 765px) {
    .card-columns {
        column-count: 1;
    }  
}

@media screen and (max-width: 576px) {
    .card-columns {
        margin-left: 20%;
    }  
}

@media screen and (max-width: 450px) {
    .card-columns {
        margin-left: 10%;
    }  
}

* {
    font-family: 'Artifika', serif;
}

#allmembers-title {
    font-weight: 700;
    font-family: 'Artifika', serif;
}

#each-member, .no-result-message {
    font-family: 'Artifika', serif;
}

