.continue-btn {
    background-color: #ccc34d;
    color: white;
}

.add-kid-btn {
    background-color: #af69f8;
    color: white;
}

.signup-btn {
    background-color: #5dc3d0;
    color: white;
}

.go-back-btn {
    background-color: #ccc34d;
    color: white;
}
