html {
    position: relative;
    min-height: 100% !important;
}

body {
    height: 100% !important;
    margin-bottom: 67px !important;
}

#footer {
    /* background-color: #176d88 !important; */
    background-image: linear-gradient(to left, #176e88, #4c95ac,  #346574 );
    position: absolute;
    bottom: 0;
    height: 67px !important;
    width: 100% !important;
}