@import url("https://fonts.googleapis.com/css?family=Artifika");

body:after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-image: url("https://images.pexels.com/photos/673648/pexels-photo-673648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed; 
    background-size: cover;
    min-height: 100vh;
  background-size: cover;

}

.welcome-text {
	font-family: 'Artifika', serif;
	font-size: 50px;
	font-weight: 900; 
}

#welcome-subtext {
  font-family: 'Artifika', serif;
  font-size: 30px;
}

.logo{
	width: 30%;
	position: relative;
	left:35%;
  opacity: 1;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1.3s ease-in-out;
  transition: transform 1.3s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.button{
  display: inline-block;
  text-decoration: none;
  background: #5dc3d0;
  color: #176e88;
	width: 122px;
	font-family: 'Artifika', serif;
  font-size: 20px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px #3cb1c0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: 1.5s;
}
  
.button:hover{
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.button:focus {
  outline: none;
  box-shadow: -1px 1px 0px 10px rgba(23,110,136,0.7);
}

